# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Executables
*.out
main

# Alternative solutions
main[2-9].cpp

# Input files
input

# Output files
output

